body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.hg-button.hg-standardBtn.correct {
  background: rgba(106, 170, 100, 100);
  color: white;
}

.hg-button.hg-standardBtn.present {
  background: rgba(201, 180, 88, 100);
  color: white;
}

.hg-button.hg-standardBtn.absent {
  background: rgba(120, 124, 126, 100);
  color: white;
}

.rtl {
  direction: rtl;
}

.rtl > .notify__icon {
  font-size: 40px !important;
}

.notify__title {
  padding-right: 0.75rem !important;
}

.notify__close {
  position: absolute;
  left: 12px;
  right: unset !important;
  top: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
